<!--Titulo-->
<div class="header-app" style="margin-top:1rem;">
    <h1 style=" font-weight: bold;">{{titlePage}}</h1>
</div>

<div class="form-row col-md-12 clsCard">
    <div class="col-md-10 offset-md-1">
        <form autocomplete="off" [formGroup]="formPassword" (ngSubmit)="fnSave()">
            <mat-card>
                <div>
                    <div class="row">

                        <div class="col-lg-3 col-md-3 col-12">
                            <mat-form-field class="style-form-field">
                                <mat-label>Contraseña Actual</mat-label>
                                <input type="password" matInput formControlName="oldPassword" autocomplete="off" />
                            </mat-form-field>
                        </div>

                        <div class="col-lg-3 col-md-3 col-12" style="margin-top: 1rem;margin-bottom: 1rem;">
                            <mat-form-field class="style-form-field">
                                <mat-label>Nueva Contraseña</mat-label>
                                <input type="password" matInput formControlName="newPassword"
                                    autocomplete="new-password" />
                            </mat-form-field>
                        </div>

                        <!-- <div class="margin-bottom:1rem">
                            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                            Nivel de seguridad
                        </div> -->

                        <div class="col-lg-3 col-md-3 col-12" style="margin-top: 1rem;">
                            <mat-form-field class="style-form-field">
                                <mat-label>Confirmar Nueva Contraseña</mat-label>
                                <input type="password" matInput formControlName="rePassword"
                                    autocomplete="new-password" />
                            </mat-form-field>
                        </div>

                    </div>

                    <div>
                        <div style="margin-bottom: 10px;">
                            <strong>Recuerda usar los siguientes elementos</strong>
                        </div>
                        <div class="containerValid"
                            [ngClass]="{'noFocus': emptyPassword, 'valid' : validateMayus, 'notValid' : !validateMayus }">
                            <mat-icon class="iconValid">check_circle</mat-icon>
                            Una Mayuscula
                        </div>

                        <div class="containerValid"
                            [ngClass]="{'noFocus': emptyPassword, 'valid' : validateMinus, 'notValid' : !validateMinus }">
                            <mat-icon class="iconValid">check_circle</mat-icon>
                            Una Minúscula
                        </div>

                        <div class="containerValid"
                            [ngClass]="{'noFocus': emptyPassword, 'valid' : validateNumber, 'notValid' : !validateNumber }">
                            <mat-icon class="iconValid">check_circle</mat-icon>
                            Un Número
                        </div>

                        <div class="containerValid"
                            [ngClass]="{'noFocus': emptyPassword, 'valid' : validateSpecial, 'notValid' : !validateSpecial }">
                            <mat-icon class="iconValid">check_circle</mat-icon>
                            Una Caracter especial [-$,...,#,.]
                        </div>

                        <div class="containerValid"
                            [ngClass]="{'noFocus': emptyPassword, 'valid' : passwordLength, 'notValid' : !passwordLength }">
                            <mat-icon class="iconValid">check_circle</mat-icon>
                            10 caracteres mínimo
                        </div>
                    </div>

                </div>

                <div class="rowButton" style="padding-top: 1rem; text-align: center; justify-content: center;">
                    <!--Botones: Guardar-->
                    <div class="col-md-6 clsCol">
                        <button type="submit" color="primary" style="width: 100%;" mat-raised-button
                            [disabled]="!validateSave">Guardar</button>
                    </div>

                    <!--Botones: Cancelar-->
                    <div class="col-md-6 clsCol" style="padding-left:2rem">
                        <button type="button" color="warn" style="width: 100%;" mat-raised-button>Cancelar</button>
                    </div>

                </div>


            </mat-card>

            <br>

        </form>

    </div>
</div>