.header-app {
    text-align: center;
}

.style-form-field {
    width: 100%;
}


@media screen and (min-width: 960px) {
    .clsCard {
        padding-left : 20rem;
        padding-right: 20rem;
    }
}


.rowButton {
    display: table;
}

.clsCol {
    width: 40rem;
    display: table-cell;
}

