.header-app {
    text-align: center;
}

.style-form-field {
    width: 100%;
}


@media screen and (min-width: 960px) {
    .clsCard {
        padding-left : 20rem;
        padding-right: 20rem;
    }
}

.clsLink{
    margin-bottom: 3rem;
}